.demo-container {
	box-sizing: border-box;
	height: 450px;
	padding: 20px 15px 15px 15px;
	margin: 15px auto 30px auto;
	border: 1px solid #ddd;
	background: #fff;
	background: linear-gradient(#f6f6f6 0, #fff 50px);
	box-shadow: 0 3px 10px rgba(0,0,0,0.15);
	text-align: center;
}

.demo-placeholder {
	width: 100%;
	height: 100%;
	font-size: 14px;
	line-height: 1.2em;
}

.changed {
	color: white;
	background-color: red;
}

#display {
	display: none;
}

#tdplot-foreground {
	margin-left: -400px;
}

canvas {
	margin: 0px;
	padding: 0px;
	border: 0px;
}

.progress-bar.no-animation{
	transition: width 0s;
}
/*
.form-group .form-control[type="number"]{
	width: 100px;
}
*/