body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

.block{
	display: inline-block;
	width: 4px;
	height: 12px;
}

.dnaT {
	background-color: greenyellow;
}

.dnaF {
	background-color: darkred;
}

.dnaChanged{
	border-top: solid red 4px;
}